@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Varela&family=Varela+Round&display=swap');

Body {
    background-color: antiquewhite;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    font-family: 'Noto Sana';
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
    align-items: center;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

nav ul li {
    padding: 0 12px;

}

.cantainer {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Noto Sana';
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(vYCknaz.jpg);
    /* background-repeat: no-repeat; */
    /* object-fit: cover; */
}


.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myprogressbar {
    width: 80vw;
    cursor: pointer;
}

.fa-thin fa-circle-play {
    width: 100px
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

.songitem {
    height: 50px;
    display: flex;
    background-color: white;
    width: 70%;
    color: black;
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 74px;
}

.songitem img {
    width: 43px;
    margin: 12px 0;
    /* border-radius: 34px; */
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songitemscontainer {
    margin-top: 74px;
}

.songinfo {
    position: absolute;
    left: 10vw;
    font-family: 'Noto Sana';

}

.songinfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#ayush{
    height: 43px;
    margin: 12px 0;
}